<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>
 -->



 <!-- ------------------------- BACKGROUND FULL SCREEN VIDEO ---------------------------------------- -->
 <!-- https://stackoverflow.com/questions/35005599/use-video-as-a-background-in-ionic-cordova-for-ios -->

 <!-- <ion-content *ngIf="exitFlg">  
  <img style="margin-top:-20px;height:650px" src="assets/imgs/flowers1.gif" />
  <span style="color:white">Thank You</span>
</ion-content> -->

<ion-content *ngIf="exitFlg">  
  <!-- <img style="margin-top:-20px;height:650px" src="assets/imgs/flowers1.gif" /> -->
  <div style="
  display:flex;
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;background-image: url('assets/imgs/flowers1.gif');font-size: 35px;" 
  ><span class="source animated infinite pulse">Thank You</span></div>
</ion-content>

<!-- <ion-content *ngIf="exitFlg" padding style="background-image: url('assets/imgs/flowers1.gif');">  
  <div>
    <h2 class="animated pulse infinite" style="color:navy;font-size: 25px;">Thank You.</h2>
  </div>  
</ion-content> -->




 <ion-content class="ion-no-padding magictime vanishIn" color="logincol"  *ngIf="!exitFlg">
 <!-- <video autoplay loop muted preload="auto" webkit-playsinline><source src="../../assets/video/drone-flying-over-hidden-beach-aerial-HD-stock-footage-df-preview.mp4"></video> -->
  
  <!-- <video autoplay loop><source src="../../assets/video/drone-flying-over-hidden-beach-aerial-HD-stock-footage-df-preview.mp4"></video> -->
    <!-- <video autoplay loop><source src="../../assets/video/Paradise-pool-stock-footage-and-palm-trees-silhouette-df-preview.mp4"></video> -->

<!--       <video style="min-height:100%" playsinline autoplay muted loop poster="https://i.pinimg.com/originals/28/6c/00/286c004a0cc4a49a5e6985b0e0812923.gif" id="bgvid">
        <source src="http://media6000.dropshots.com/photos/1381926/20170326/005609.mp4" type="video/mp4">
    </video>
 -->


 <!-- <video autoplay loop><source src="../../assets/video/Nature Beautiful short video 720p HD.mp4"></video> -->

  <!-- ------------------- WORKING PERFECT WITH GIF IMAGES INSTEAD OF VIDEOS ------------------------------ -->
  <!-- <img src="../../assets/imgs/nature-waterfall-animated-gif-2.gif"  -->
  <!-- <img src="../../assets/imgs/NATURE-GIF-2.gif"  -->



  <!-- -------------------- USING THIS BEFORE ------------------------------ -->

  <!-- <img src="../../assets/imgs/NATURE-GIF-2.gif" 
  style="display:flex;
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
"> -->

<!-- -------------------- USING THIS BEFORE ------------------------------ -->


<!-- ------------------- WORKING PERFECT WITH GIF IMAGES INSTEAD OF VIDEOS ------------------------------ -->

  <div class="page-centered-element">
    <div class="content">      
      
      <h1 class="cookie" style="color:navy;font-size: 35px;margin-bottom: 5px;">Welcome</h1> 

      <h5 class="SHAIMAADEMORegular" style="color:white;background-color: navy;
      border:1px solid white;border-radius: 15px;font-size: 20px
      ;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px
      ">{{myDate}}</h5>
      <div class="buttons-container">
        <ion-button style="margin-top:-15px;font-weight: 600;" 
        (click)="gotoHomePage()" 
        expand="block" 
        color="shade" shape="round" fill="solid"><span style="color:navy">Login</span></ion-button>
        <ion-button style="margin-top:15px;font-weight: 600;" 
        (click)="goExit()" 
        expand="block" 
        color="red" shape="round" fill="solid">
        <span style="color:white">Exit</span></ion-button>
      </div>
    </div>
  </div>
</ion-content>


 <!-- ------------------------- BACKGROUND FULL SCREEN VIDEO ---------------------------------------- -->

   <!-- <gl-background-video  src="http://www.w3schools.com/tags/movie.mp4" poster="../../assets/imgs/background-video-image.png"></gl-background-video> -->


   <!-- -------------------- BACKGROUND IMAGE FULL SCREEN ----------------------------------- -->
<!-- <ion-content  force-overscroll="false">
  <div class="page-centered-element">
    <div class="content">      
      <h1 class="cookie" style="color:white;font-size: 45px;">Welcome</h1>      
      <h5 class="SHAIMAADEMORegular" style="color:white;background-color: navy;
      border:1px solid white;border-radius: 15px;font-size: 20px
      ;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px
      ">{{myDate}}</h5>
      <div class="buttons-container">
        <ion-button style="margin-top:-10px;font-weight: 600;" (click)="gotoHomePage()" expand="block" color="orange" shape="round" fill="solid">Login</ion-button>
      </div>
    </div>
  </div>
</ion-content> -->
  <!-- -------------------- BACKGROUND IMAGE FULL SCREEN ----------------------------------- -->







 <!-- <ion-content class="ion-no-padding" force-overscroll="false">
  <gl-background-video src="../../assets/video/sample-mp4-file.mp4"
   poster="../../assets/imgs/background-video-image.png"></gl-background-video>
  <div class="page-centered-element">
    <div class="content">
      <h1>Welcome</h1>
      <h5>This is a sample app</h5>
      <div class="buttons-container">
        <ion-button>Login</ion-button>
      </div>
    </div>
  </div>
</ion-content> -->

  <!-- <video  autoplay playsinline muted loop preload="auto" webkit-playsinline><source 
    src="../../assets/video/sample-mp4-file.mp4"></video> -->

<!-- 
    <ion-content>
      <div>
        <video autoplay muted loop style="
        min-width: 100%;
    min-height: 100%; 
    position:absolute;
  z-index:1;	
    ">
          <source src="../../assets/video/sample-mp4-file.mp4" type="video/mp4">
        </video>
      </div>    
      <div class="page-centered-element">
        <div class="content">
          <h1>Welcome</h1>
          <h5>This is a sample app</h5>
          <div class="buttons-container">
            <ion-button>Login</ion-button>
          </div>
        </div>
      </div>
  </ion-content> -->
  






    <!-- WORKING -->
<!-- <ion-content>
    <div>
      <video autoplay muted loop style="
      min-width: 100%;
  min-height: 100%; 
  position:absolute;
z-index:1;	
	">
	    	<source src="http://www.w3schools.com/tags/movie.mp4" type="video/webm">
	    	<source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4">
	    </video>
    </div>    
    <div class="page-centered-element">
      <div class="content">
        <h1>Welcome</h1>
        <h5>This is a sample app</h5>
        <div class="buttons-container">
          <ion-button>Login</ion-button>
        </div>
      </div>
    </div>
</ion-content>
 -->



 <!-- <ion-content force-overscroll="false">
  <gl-background-video src="../../assets/video/sample-mp4-file.mp4" poster="../../assets/imgs/background-video-image.png"></gl-background-video>
  <div class="page-centered-element">
    <div class="content">
      <h1>Welcome</h1>
      <h5>This is a sample app</h5>
      <div class="buttons-container">
        <ion-button>Login</ion-button>
      </div>
    </div>
  </div>
</ion-content> -->

<!-- <ion-content force-overscroll="false">
  <div class="page-centered-element">
    <div class="content">
      <h1>My awesome app</h1>
      <h5>My awesome catchphrase</h5>
      <div class="buttons-container">
        <ion-button>Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>
 -->

 <!-- <ion-content  force-overscroll="false">
   <section class="xx">
  <gl-background-video src="../../assets/video/sample-mp4-file.mp4" 
  poster="assets/imgs/background-video-image.png"></gl-background-video>

  <video autoplay loop class="video-background">
    <source src="../../assets/video/sample-mp4-file.mp4" type="video/mp4">
    </video>

  <div class="page-centered-element">
    <div class="content">
      <h1>Welcome</h1>
      <h5>This is a sample app</h5>
      <div class="buttons-container">
        <ion-button>Login</ion-button>
      </div>
    </div>
  </div>
  </section>
</ion-content>
 -->