<ion-header>
  <ion-toolbar color="navy">
    <ion-buttons slot="start" class="buttonx">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end"  (click)="gotoNotifications()">
      <ion-icon style="font-size: 25px;padding-right:10px;" name="notifications"></ion-icon>
    </ion-buttons>
    <ion-title class="cookie text-exampleImgXXX" style="font-size: 25px;">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated slideInRight">

  <div style="background-image: linear-gradient(to left bottom, #28e222a8, #ae8ef7);" class="text-exampleImgXXX">
    <!-- <img style="margin-top:10px;height:100px" src="../../assets/logos/logo4.jpg">-->
      
    <!-- <ion-avatar class="ion-text-center">
      <img style="margin-top:10px;height:100px;text-align: center;" src="../../assets/logos/logo4.jpg">
    </ion-avatar> -->

    <div class="text-exampleImgYYY">
      <ion-avatar style="height:150px;width:150px;margin-top:10px">
      <img src="../../assets/logos/logo4.jpg"  alt="Notebook">  
      </ion-avatar>             
    </div>

    <h1 class="cookie" style="font-weight: bold;font-size: 35px;padding:10px;color:navy;margin-top:-10px">Big Bazaar</h1>
    <p style="font-weight: bold;font-size: 25px;padding:10px;margin-top:-10px" class="delvonthin">
      Big Bazaar is an Indian retail chain of hypermarkets, discount department stores, and grocery stores. 
      The retail chain was founded by Kishore Biyani under his parent organisation Future Group, 
      which is known for having a significant prominence in Indian retail.
      </p>

      <ion-card class="xxx">
        <div style="position:relative;top:50%; transform: translateY(-50%);font-size: 20px;padding:5px" 
        class="ion-text-center cookie">
        <span style="font-weight: bold;">Office Address</span><br>
        <p style="margin-top:10px">Big Bazaar, 4th Floor,
        Tower C, 247 Park,
        LBS Marg, Vikhroli (West),
        Mumbai - 400 083.
        </p>
      </div>
    </ion-card>
    </div>
</ion-content>
