<ion-header>
  <ion-toolbar color="navy">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="gotoNotifications()">
      <ion-icon style="font-size: 25px;padding-right:10px;" name="notifications"></ion-icon>
    </ion-buttons>
    <ion-title class="cookie text-exampleImgXXX" style="font-size: 25px;">Our Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated zoomIn">

  <div>
    <img style="margin-top:-50px" src="../../assets/logos/notifications.gif">
  </div>
  <div style="font-size: 45px;" class="cookie text-exampleImgXXX">
    <span class=" animated flipInX infinite">No Notifications</span>
  </div>

</ion-content>
